* {
	margin:0;
	padding:0;
	--0: 240, 246, 240; /* white (text) */
	--2: 44, 50, 55; /* light (body bg) */
	--3: 30, 36, 41; /* dark (top/border)*/
}

body {
	height: 100vh;
	overflow: hidden;
	background-color: rgba(var(--2));
	color: rgba(var(--0));
	font-family: "Consolas", "Open Sans";
	font-weight: light;
	font-size:medium;
	border: rgba(var(--3)) 6px solid;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
} 

.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.info-container > * {
	background-color: rgba(var(--3));
	border: rbga(var(--0)) 100px solid;
	border-radius: 4px;
	padding: 20px 30px 20px 30px;
	margin: 25px;
	user-select: none;
	width: 80px;

	transition-delay: 20ms;
	transition-duration: 300ms;
}

.info-container > *:hover {
	background-color: rgba(var(--3), 0.5);
	box-shadow: rgba(var(--3)) 0 0 0 4px;
}