* {
	margin:0;
	padding:0;
	--0: 255, 255, 255; /* white (text) #ffffff */
	--2: 65, 76, 88; /* light (body bg) */
	--3: 57, 65, 76; /* medium (element bg) */
	--4: 47, 56, 65; /* dark (border)*/
}

@media (min-width: 900px) and (min-height: 650px) {


body {
	height: 100vh;
	overflow: hidden;
	background-color: rgba(var(--2));
	color: rgba(var(--0));
	font-family: "Consolas", "Open Sans";
	border: rgba(var(--4)) 6px solid;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 0px 8px 2px rgba(var(--4)) inset;
} 

#button-container {
	text-align: center;
}

#button-container > * {
	background-color: rgba(var(--3));
	box-shadow: rgba(var(--4)) 0 0 0 2px;
	border-radius: 4px;
	padding: 20px 30px 20px 30px;
	margin: 25px;
	user-select: none;
	width: 80px;

	transition-duration: 300ms;
}

#button-container > *:hover {
	background-color: rgba(var(--3));
	box-shadow: rgba(var(--4)) 0 0 0 4px;
}

#button-container > *:active {
	background-color: rgba(var(--3), 0.5);
	transition-duration: 50ms;
}

#info-container {
	position: relative;
	border: rgba(var(--4)) 6px solid;
	border-radius: 4px;
	background-color: rgba(var(--3));
	width: 400px;
	height: 560px;
	padding: 20px;
	line-height: 1.5;
	word-wrap: break-word;
}

#info-container > * {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.animate {
	animation-name: move;
  animation-duration: 2s;
}


@keyframes move {
  0% {top: 0px;}
	10% {top: -25px;}
	50% {top: 800px;}
	100% {top: 0px;}
}

#socials-container {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 15px;
	left: 15px;
}

.social {
	background-color: rgba(var(--4));
	border: 4px solid rgba(var(--4));
	border-radius: 4px;
	padding: 5px;
	margin: 10px;
	width: 35px;
	height: 35px;
	
	transition-duration: 300ms;
}

.social:hover {
	background-color: rgba(var(--3), 0.5);
	border: 4px solid rgba(var(--4));
}

.social:active {
	background-color: rgba(var(--3), 0.25);
	transition-duration: 50ms;
	transition-delay: 0ms;
}

.social-image {
	object-fit: contain;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

#skibb {
	display: none;
}

#gay {
	display: none;
}

#project-wrapper {
	display: none;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
	line-height: 1;
}

#project-wrapper > * {
	padding: 10px 30px 10px 30px;
	margin: 20px;
	border-radius: 10px;
	color: rgba(var(--0));
	font-size: 30px;
	text-decoration: none;

	transition-duration: 100ms;
}

#project-wrapper > *:hover {
}

.popup {
	position: absolute;
	display: flex;
	background-color: rgba(var(--3), 0.95);
	border: 6px solid rgba(var(--0));
	box-shadow: 0px 0px 10px 2px rgba(var(--0)) inset;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 350px;
	height: 200px;
	justify-content: center;
	align-items: center;
	text-align: center
}

.popup > p {
	padding: 40px;
}

.popup > img {
	position: absolute;
	top: 20px;
	right: 20px;
	filter: invert(90%) sepia(2%) saturate(473%) hue-rotate(71deg) brightness(110%) contrast(93%); /* https://codepen.io/sosuke/pen/Pjoqqp -- messy thing I found while looking on stackoverflow :) */
}

}

@media (max-width: 900px) or (max-height: 650px) {

#wenis {
	display: none;
}
#discord {
	display: none;
}
#project-wrapper {
	display: none;
}
#projects-button {
	display: none;
}
#gay {
	display: none;
}	
	
body {
	overflow: hidden;
	background-color: rgba(var(--2));
	height: 100vh;
	color: rgba(var(--0));
	font-family: "Consolas", "Open Sans";
	font-size: 0.8em;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	flex-direction: column;
} 

#socials-container {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
	
.social {
	background-color: rgba(var(--4));
	border: 4px solid rgba(var(--4));
	border-radius: 4px;
	padding: 5px;
	margin: 10px;
	width: 35px;
	height: 35px;
}
	
.social-image {
	object-fit: contain;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

#button-container {
	text-align: center;
	margin-bottom: 20px;
	display: flex;
}

#button-container > * {
	background-color: rgba(var(--4));
	border-radius: 4px;
	box-shadow: 0px 0px 8px 2px rgba(var(--4));
	padding: 20px 30px 20px 30px;
	margin: 10px;
	user-select: none;
	width: 75px
}
	
#info-container {
	position: relative;
	border: rgba(var(--4)) 6px solid;
	border-radius: 4px;
	background-color: #252b30;
	width: 70%;
	height: 40%;
	padding: 20px;
	line-height: 1.5;
	word-wrap: break-word;
}

#info-container > * {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

}